<div>
  <div class="close_button" ng-click="close()">
    <i class="fa fa-close"></i>
  </div>

  <div class="preview_wrapper">
    <div class="navigate_control left">
      <i class="fa fa-angle-left"></i>
    </div>

    <div class="navigate_control right">
      <i class="fa fa-angle-right"></i>
    </div>

    <div class="preview_block">
      <div class="preview_container">

        <blockquote class="embedly-card" data-card-key="a2ed93dc06be4d47917d89dcf414e5aa" data-card-controls="0">
          <h4>
            <a href="http://www.youtube.com/watch?v=OjNpu8cVU3M">Машинка для печатания денег!</a>
          </h4>
          <p>Обзор посылки из Китая: машинка для печати денег! Фокус :) ● Покупал эту машинку для фокусов тут:
            http://ali.pub/y2p3t ● Как купить этот товар на Алиэкспресс и получить 7% кэшбэка, смотрите тут:
            https://youtu.be/TU7ysnvo5xM ● Группа канала Alex Boyko: https://vk.com/alexboyko_channel --------
            Для участия в конкурсе нужно: 1. Поставить лайк под этим видео 2.
          </p>
        </blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
    </div>
  </div>
</div>