<!--<div class="fl_r feed_info flex_center" ng-if="tabs.items[tabs.state].feed.info">-->
  <!--<div class="fl_l b_image s16 r_100" ng-style="{'background-image': 'url(' + tabs.items[tabs.state].feed.info.user.image + ')'}"></div>-->
  <!--<div class="fl_l name"> {{ tabs.items[tabs.state].feed.info.user.name }} </div>-->
  <!--<div class="flex_r">-->
    <!--<div class="fl_l stats">-->
      <!--<div class="value">{{tabs.items[tabs.state].feed.info.feeds_count}}</div>-->
      <!--<div class="label">Feeds</div>-->
    <!--</div>-->
    <!--<div class="fl_l stats">-->
      <!--<div class="value">{{tabs.items[tabs.state].feed.info.sub_count}}</div>-->
      <!--<div class="label">Followers</div>-->
    <!--</div>-->
    <!--<div class="fl_l sub {{tabs.items[tabs.state].feed.info.isSub?'red':'green'}}" ng-click="tabs.items[tabs.state].feed.sub()">-->
      <!--{{tabs.items[tabs.state].feed.info.isSub?'unfollow':'follow'|translate}}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->