<div class="wide height" style="position:relative;z-index: 100">
  <div class="fl_l wide high">
    <div class="offset h10"></div>

    <div class="block-container high">
      <div class="items"  ng-scrollbars-config="scrollbar_config" style="position: relative; height: 100%;float: left;width: 100%;">
        <div class="item" style="width: 100%; display:inline-block;margin:20px;">
          <div class="author fl_l" style="line-height: 32px;">
            <div class="icon userpic-img fl_l" style="background-image: url('https://pp.vk.me/c629109/v629109402/41099/3pU5oQ1k6fw.jpg');">

            </div>
            <div class="name fl_l" style="margin-left:5px;">
              Kirill Ivanov
            </div>
          </div>

          <div class="action" style="float: right; line-height: 35px">
            <div class="date fl_r" style="color:#ccc;font-size:12px;">
              10 minutes ago
            </div>

            <div class="action-name fl_r" style="font-weight: 800;font-size: 12px;color: #3483C1;margin-right: 20px;">
              uploaded a photo
            </div>
          </div>

          <div class="content fl_l" style="width: 100%;margin-top:5px">
            <div class="name fl_l" style="color: #696969;font-size: 14px;">
              My bicycle
            </div>
            <div class="preview fl_l" style="margin-top:5px; width: 100%;background-image: url('https://pp.vk.me/c635105/v635105070/2e1f/QhCcVpksoXw.jpg');height: 600px;background-origin: content-box;background-repeat: no-repeat;background-size: contain;">

            </div>

          </div>
        </div>

        <div class="item" style="display:inline-block;margin:20px;">
          <div class="author fl_l" style="line-height: 32px;">
            <div class="icon userpic-img fl_l" style="background-image: url('https://pp.vk.me/c629109/v629109402/41099/3pU5oQ1k6fw.jpg');">

            </div>
            <div class="name fl_l" style="margin-left:5px;">
              Kirill Ivanov
            </div>
          </div>

          <div class="action" style="float: right; line-height: 35px">
            <div class="date fl_r" style="color:#ccc;font-size:12px;">
              10 minutes ago
            </div>

            <div class="action-name fl_r" style="font-weight: 800;font-size: 12px;color: #3483C1;margin-right: 20px;">
              uploaded a photo
            </div>
          </div>

          <div class="content fl_l" style="width: 100%;margin-top:5px">
            <div class="name fl_l" style="color: #696969;font-size: 14px;">
              My bicycle
            </div>
            <div class="preview fl_l" style="margin-top:5px; width: 100%;background-image: url('https://pp.vk.me/c635105/v635105070/2e1f/QhCcVpksoXw.jpg');height: 600px;background-origin: content-box;background-repeat: no-repeat;background-size: contain;">

            </div>

          </div>
        </div>
      </div>

      <!--<div class="filters" style="float: right;-->
    <!--background-color: #F3F1F1;-->
    <!--display: block;-->
    <!--height: 100%;-->
    <!--width: calc(25% - 1px);-->
    <!--border-radius: 0 4px 0 0;-->
    <!--border-left: 1px solid #696969;">-->

        <!--<div class="title" style="text-align: center;-->
    <!--font-family: serif;-->
    <!--font-size: 14px;-->
    <!--color: #777;-->
    <!--margin-top: 20px;">-->
          <!--Filters-->
        <!--</div>-->
      <!--</div>-->

    </div>



    <!-- <preloader ng-show="isLoading"></preloader> -->
    <!--<file-browser class="high"></file-browser>-->
  </div>
</div>
<shutter id="ui_view__shutter" class="opened"></shutter>
