@require 'activity_log'


.settings-panel
  @extends .activity-log
  user-select none
  width 170px
  height auto

  & div
    cursor pointer

  & > div
    width 100%
    margin-bottom 10px

  i
    transition: all 0.4s
