html(ng-app='runexto')
  head
    meta(charset='UTF-8')
    link(rel='icon', type='image/png', href='images/favicon.png')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="/build/css/bundle.css")
    script(type="text/javascript", src="/build/js/scripts.js")
    block head

  block content
  .clear
  footer
    .footer-links
      .fl_l.footer-wrap
        a.fl_l.footer-link(href='#') о нас
        a.fl_l.footer-link(href='#') о Runexto
        a.fl_l.footer-link(href='#') вакансии
        a.fl_l.footer-link(href='#') пользовательское соглашение
        a.fl_l.footer-link(href='#') язык
        .fl_r.footer-copy
          | Runexto © 2014
      
  block head-scripts

