extends layout

block content
  #s_status
  form#setting
    h2 Settings
    p Firstname:
      br
      input(type="text" value="#{user.user.firstname}")#s_firstname

    p Lastname:
      br
      input(type="text" value="#{user.user.lastname}")#s_lastname

    p EMail:
      br
      input(type="text" value="#{user.user.email}")#s_email
    
    p Profile image:
      br
      input(type="text" value="#{user.user.image}")#s_image

    input(type="button" value="Save")#s_save
  script(type="text/javascript" src="/js/s.js")